.page {
  height: 100vh;
  flex-grow: 1;
  padding-left: 30px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.page::-webkit-scrollbar {
  display: none;
}

.page h1 {
  width: calc(100% - 30px);
  font-family: 'Montserrat', sans-serif;
  font-weight: 100;
  color: #232323;
  text-align: center;
  margin: 0;
  border-bottom: 1px solid #232323;
  padding: 10px 0;
}
