.stats .grid {
  padding: 10px 20px;
}

.stats .grid .column {
  min-height: 500px;
  width: 100%;
  overflow: hidden;
  margin-top: 10px;
}

.column .chart-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
}
